/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/target/
/vendor

# Locally-built native extensions (installed into versioned directories)
/lib/code_ownership/*/

Gemfile.lock

# rspec failure tracking
.rspec_status

.DS_Store
